.s-animate {
  animation-duration: 400ms;
  animation-iteration-count: 1;

  &.s- {
    &fadeIn {
      animation-name: fadeIn;
    }

    &fadeOut {
      animation-name: fadeOut;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 2;
  }
}

.panel {
  min-width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -150%;
  position: absolute;
  background: #000;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.panel:target {
  margin-top: 0%;
  background-color: #ffcb00;
}